.nav-list {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.nav-list-item a {
  display: block;
  padding: 0.25rem;
  font-weight: 700;
  color: var(--color);
  text-decoration: none;
}

.nav-list-spacer {
  display: block;
  height: 1.5rem;
  width: 0.125rem;
  padding: 0;
  width: 1px;
  background: var(--color);
}

.nav {
  max-width: 100%;
  width: 36rem;
  margin: auto;
  padding: 0 1rem;
}
.nav-holder {
  position: fixed;
  bottom: 0;
  background: var(--nav-background);
  box-shadow: 0px 0px 3px var(--nav-box-shadow);
  max-width: 100%;
  min-width: 20rem;
  width: 60%;
  margin: 0.7rem 0 0 0;
}

@media screen and (max-width: 880px) {
  /* Smaller screens */
  .nav-holder {
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
  }
}

@media screen and (min-width: 880px) {
  /* Widescreen */
  .nav-holder {
    left: 0;
  }
}
